/* colors
    --pacific-blue: #53aebc;
    --powder-blue: #bbdfde;
    --white: #ffffff; 
*/

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    font-family: 'Caveat', cursive;
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    display: inline;
}

/* Class & ID Selectors */